.top-header {
    background-color: #FDBEDB;

    h1 {
        @media(max-width: 575px) {
            font-size: 1.8rem;
        }
    }
}
.products {  

    border: 1px solid gray;

    .product {
        &:first-child {
            @media(max-width: 575px) {
                font-size: 10px;
            }
        }

        &:last-child {
            margin-bottom: 0 !important;
        }

        &:nth-child(odd) {
            background-color: #fee3e5;
        }

        .product-img {
            max-height: 200px;

            @media(max-width: 575px) {
                max-height: 100px;
            }
        }
    
        .qty-button {
            font-size: 20px;
            font-weight: bolder;
            cursor: pointer;
    
            &:hover {
                color: gray;
            }
        }
    
        .remove-button {
            position: relative;
            cursor: pointer;
            
            &:hover {
                color: gray;
            }
        }

        h5 {
            @media(max-width: 575px) {
                font-size: 14px;
            }
        }
    }
}

.total {
    background-color: #f7f6f6;
}
